.circle{
     width: 200px;
     height: 200px;
     
     background-color: palegoldenrod;
}

.circle:hover{
    background-color: palegreen;
    border-radius: 50%;
    transition: background-color 10s;
    /* transition could specify the property to be anmiated
    e.g. transition: background-color 10s. only background color will have animation */
}

section div{
    height: 50px;
    width: 50px;
    background-color: paleturquoise;
    margin: 5px 5px 5px 5px;
    transition: background-color 2s ease-in-out, margin-left 2s;
    /* putting properties in transition specifies what properties to be included
    for transition in the following order*/
}


section:hover div{
    margin-left: 200px;
   background-color: peru;
}

div:nth-of-type(1){
    transition-timing-function: ease-in;
}

div:nth-of-type(2){
    transition-timing-function: ease-out;
}

div:nth-of-type(3){
    transition-timing-function: ease-in-out;
}
div:nth-of-type(4){
    transition-timing-function: cubic-bezier(.17,.67,.72,-1);
    /* cubic-bezier.com */
}

/* transition-timing-function refers to the linear animation speed
e.g. */

.box1{
    width: 400px;
    height: 400px;
    background-color: silver;
}

.box1 div{
    width: 100px;
    height: 100px;
}

.box2{
    background-color: #bfa;
    /* transition:all 2s; */
    transition-property: width,height;
    /* which property to have trasition effect */
    transition-duration: 2s;
    /* how long the transition takes */
    transition-delay: 2s;
    /* wait for certain time before transition starts */
    
}

.box1:hover .box2{
    width: 200px;
    height: 200px;
}