/* container at very top */
.top-container{
    background-color: #333;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
/* left top products section and list-item*/
 .products, .nav-top li{
    float:left;
}
/* user info & card section at top */
.user, .cart{
    float: right;
}
/* anchor style inside */
.nav-top a {
    font-size: 12px;
    color: #b0b0b0;
    text-decoration: none;
    display: block;
    /* each products of Mi's official website are anchors and clickable as a 
    block element */
} 
/* anchor hover style within navigation-top container */
.nav-top a:hover{
    color:#ffffff
}
/* style for line('|') in the top navigation bar */
.line{
    font-size:12px;
    margin: 0px 8px;
    color: #414141;
}
/* right top cart section */
.cart{
    margin-left:15px
}
.cart li{
    width: 120px;
    text-align: center;   
}
.cart i{
    margin-right: 4px;
}
/* qrcode(download app) dropdown style */
.app .qrcode{
    width: 124px;
    /* height: 148px; */
    line-height: 1;
    text-align: center;
    box-shadow: 0 0 5px rgb(0 0 0 /25%);
    /* display: none; */
    position: absolute;
    left:-40px;
    transition: height 0.8s;
    height:0;
    overflow: hidden;

}
/* mixing wont work */
.app:hover .qrcode{
    display: block;
    height: 148px;
}
/* qrcode container and triangle */
.app:hover::before{
    display: block;
    
}
.qrcode img{
    width: 112px;
    margin: 5px 6px;
}
.qrcode span{
    font-size: 14px;
    color: #000;
}
.app::before{
    display: none;
    /* background-color: aqua; */
    width:0px;
    height: 0px;
    border: 10px #fff solid;
    border-top:none;
    border-color: transparent transparent #fff transparent;
    content:"";
    position: absolute;
    top: 30px;
    left: 12px;
}
.app {
    position: relative;
}
/* qrcode(download app) dropdown style ends */