/* container at very top */
.top-container{
    background-color: #333;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
/* left top products section and list-item*/
 .products, .nav-top li{
    float:left;
}

.nav-top a {
    font-size: 12px;
    color: #b0b0b0;
    text-decoration: none;
    display: block;
    /* each products of Mi's official website are anchors and clickable as a 
    block element */
} 

/* anchor hover style within navigation-top container */
.nav-top a:hover{
    color:#ffffff
}


/* style for line('|') in the top navigation bar */
.line{
    font-size:12px;
    margin: 0px 8px;
    color: #414141;
}
.app {
    position: relative;
}
/* d1 */
.app::after{
    content: '';
    display: none;
    /* 设置绝对定位 */
    position: absolute;
    width: 0;
    height: 0;
    /* 设置四个方向的边框 */
    border: 8px solid transparent;
    /* 去除上边框 */
    border-top: none;
    /* 单独设置下边框的颜色 */
    border-bottom-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

/* mixing wont work */
.app:hover .qrcode,
.app:hover::after{
    display: block;
    height: 148px;
}
/* qrcode container and triangle */
/* .app:hover::before{
    display: block;
    
} */
/* qrcode(download app) dropdown style */
.app .qrcode{
    width: 124px;
    /* height: 148px; */
    line-height: 1;
    text-align: center;
    box-shadow: 0 0 5px rgb(0 0 0 /25%);
    /* display: none; */
    position: absolute;
    left:-40px;
    transition: height 0.8s;
    height:0;
    overflow: hidden;
    z-index: 9999;
}

.qrcode img{
    width: 112px;
    margin: 5px 6px;
}

.qrcode span{
    font-size: 14px;
    color: #000;
}

/* user info & card section at top */
.user, .cart{
    float: right;
}

/* right top cart section */
.cart{
    margin-left:26px
}
.cart a{
    width: 120px;
    text-align: center;   
    background-color: #424242;
}
.cart:hover a {
    background-color: #fff;
    color: #FF6700;
}
.cart i{
    margin-right: 4px;
}
/* qrcode(download app) dropdown style ends */

/* header navigation style starts */
.header-container{
    /* background-color: #ff6a00; */
    position: relative;
}
.logo-container{
    height: 100px;
}

/* logo effect */
.logo-container .logo-wrapper{
    /* background-color: aqua; */
    width: 55px;
    height: 55px;
    margin-top: 22px;
    position: relative;
    transition: left 2s;
    overflow: hidden;
    float: left;
} 

.logo-wrapper a {
    float: left;
    width: 55px;
    height: 55px;
    background-size: 100%;
    /* origin size of the image is bigger than contianer */
    position: absolute;
    transition: left 2s;
    left: 0;
}
.logo-wrapper .logo{
    background-image: url(../img/logo-mi.png);
    left: 0;
}    
.logo-wrapper .home{
    background-image: url(../img/logo-mi2.png); 
    left: -55px;
}
.logo-wrapper:hover .home{
    left:0;
}
.logo-wrapper:hover .logo{
    left:-55px
}
/* logo effect */

/* header nav starts */
.header-container .header-nav-container{
    height: 100px;
    float: left;
}

.header-nav{
    font-size: 16px;
    margin-left: 78px;
    height: 100px;
    line-height: 100px;
    /* background-color: aqua;   */

}
.header-nav > li{
    float: left;
    /* text-align: center; */
    margin-right:  20px;
}

.all-products{
    position: relative;
}

.all-products-a{
    visibility: hidden;
}
.header-nav li  a {
    text-decoration: none;
    display: block;
    /* block hovering */
}
.header-nav li  a:hover{
    color: #ff6a00;
}
.header-nav .show-detail:hover ~ .product-dropdown,
.product-dropdown:hover{
    height: 228px;
    border-top: 1px solid rgb(224,224,224);
}

.product-dropdown{
    height: 0px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    border-top: 0px solid rgb(224,224,224);
    top: 100px;
    left: 0;
    box-shadow: 0 3px 3px rgba(0 0 0 /25%);
    transition: height 0.3s;   
    z-index: 9999;
}
/* header nav ends */

/* search bar section starts  */
.search{
    width: 296px;
    height: 50px;
    float: right;
    /* line-height: 50px; */
    background-color: red;
    margin-top: 25px;
    border: 1px solid rgb(224, 224, 224);
    padding: 0;
    font-size: 16px;
}
.search .search-input{
    height: 50px;
    width: 204px;
    padding: 0 20px;
    border: none;
    float: left;
    font-size: 16px ;
}
.search .search-input:focus{
    outline: 1px solid #ff6700;
}
.search .search-input:focus::placeholder{
    opacity: 0;
    /* "removes" the placeholder when focus */
}
.search .search-input:focus + .search-btn{
    outline: 1px solid #ff6700;
    border-left: 0px solid rgb(224, 224, 224);
}

.search .search-btn{
    height: 50px;
    width: 52px;
    padding: 0;
    border: none;
    float: left;
    background-color: #fff;
    color: #616161;
    font-size: 18px;
    border-left: 1px solid rgb(224, 224, 224);
    transition: color,background-color .3s;
}
.search .search-btn:hover{
    background-color: rgb(255, 103, 0);
    color: #fff;
}
/* search bar section ends  */

/* left-menu starts, while it belongs to header-nav all products */

.left-menu {
     width: 234px;
    height: 420px;
    
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    z-index: 999;
    left: -133px;
    line-height: 1;  
    position: absolute;
}

ul.left-menu li a {
    display: block;
    font-size: 15px;
    color: white;
    height: 42px; 
    margin-right: 0;
    
    padding: 0 30px;
    line-height: 42px;

}

.left-menu a i{
    float: right;
    line-height: 42px;
}


ul.left-menu li a:hover{
    background-color: #FF6700;
    color: white;
}

/* left-menu ends */

/* banner starts */
.banner{
    position: relative;
    height: 460px;
}
.banner .img-list li{
    position: absolute
}

.banner img{
    width: 100%;
}
.pointer{
    /* background-color: #ff6700; */
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
}

.pointer a{
    background-color: rgba(0, 0, 0, 0.3);
    height: 6px;
    width: 6px;
    border: rgba(255, 255, 255, 0.4) 3px solid;
    border-radius: 100%;
    float: left;
    margin-left: 5px;
}

.pointer a:hover,
.pointer a.active{
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(0, 0, 0, 0.3);    
}

.prev-next{
    position: absolute;
    bottom: 45%;
    left: 233px;
    width: 100%;
    font-size: 40px;
}
.prev-next a i {
    color: rgba(226, 226, 226, 1);
}

.prev-next a{
    height: 65px;
    width: 45px;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    border-radius: 10%;
}

.prev-next a:hover{
    background: rgba(124, 124, 124,0.3);
}
.prev-next .next{
    margin-left: 890px;
}

/* banner ends */