/* container at very top */
.top-container{
    background-color: #333;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
/* left top products section and list-item*/
 .products, .nav-top li{
    float:left;
}
/* user info & card section at top */
.user, .cart{
    float: right;
}
/* anchor style inside */
.nav-top a {
    font-size: 12px;
    color: #b0b0b0;
    text-decoration: none;
    display: block;
    /* each products of Mi's official website are anchors and clickable as a 
    block element */
} 
/* anchor hover style within navigation-top container */
.nav-top a:hover{
    color:#ffffff
}
/* style for line('|') in the top navigation bar */
.line{
    font-size:12px;
    margin: 0px 8px;
    color: #414141;
}
/* right top cart section */
.cart{
    margin-left:15px
}
.cart li{
    width: 120px;
    text-align: center;   
}
.cart i{
    margin-right: 4px;
}
/* qrcode(download app) dropdown style */
.app .qrcode{
    width: 124px;
    /* height: 148px; */
    line-height: 1;
    text-align: center;
    box-shadow: 0 0 5px rgb(0 0 0 /25%);
    /* display: none; */
    position: absolute;
    left:-40px;
    transition: height 0.8s;
    height:0;
    overflow: hidden;
}
/* mixing wont work */
.app:hover .qrcode{
    display: block;
    height: 148px;
}
/* qrcode container and triangle */
.app:hover::before{
    display: block;
    
}
.qrcode img{
    width: 112px;
    margin: 5px 6px;
}
.qrcode span{
    font-size: 14px;
    color: #000;
}
.app::before{
    display: none;
    /* background-color: aqua; */
    width:0px;
    height: 0px;
    border: 10px #fff solid;
    border-top:none;
    border-color: transparent transparent #fff transparent;
    content:"";
    position: absolute;
    top: 30px;
    left: 12px;
}
.app {
    position: relative;
}
/* qrcode(download app) dropdown style ends */

/* header navigation style starts */
.header-container{
    height: 100px;
    /* background-color: #ff6a00; */
    position: relative;
}
/* logo effect */
.logo-wrapper{
    /* background-color: aqua; */
    width: 55px;
    height: 55px;
    margin-top: 22px;
    left: 0;
    position: relative;
    transition: left 2s;
    overflow: hidden;
    float: left
} 
.logo-wrapper a {
    float: left;
    width: 55px;
    height: 55px;
    background-size: 100%;
    /* origin size of the image is bigger than contianer */
    position: absolute;
    transition: left 2s;
}
.logo-wrapper .logo{
    background-image: url(../img/logo-mi.png);
    left: 0;
}    
.logo-wrapper .home{
    background-image: url(../img/logo-mi2.png); 
    left: -55px;
}
.logo-wrapper:hover .home{
    left:0;
}
.logo-wrapper:hover .logo{
    left:-55px
}
/* logo effect */

/* header nav starts */
.header-nav-container{
    height: 100px;
}
.header-nav{
    font-size: 16px;
    float: left;
    margin-left: 78px;
    height: 100px;
    line-height: 100px;
    /* background-color: aqua;   */

}
.header-nav li{
    float: left;
    /* text-align: center; */
    margin-right:  20px;
}
.header-nav li a {
    text-decoration: none;
    display: block;
    /* block hovering */
}
.header-nav li a:hover{
    color: #ff6a00;
}
.header-nav .show-detail:hover ~ .product-dropdown,
.product-dropdown:hover{
    height: 228px;
    border-top: 1px solid rgb(224,224,224);
}

.all-products{
    visibility: hidden;
}
.product-dropdown{
    height: 0px;
    width: 100%;
    position: absolute;
    /* background-color: #ff6a00; */
    border-top: 0px solid rgb(224,224,224);
    top: 100px;
    left: 0;
    box-shadow: 0 3px 3px rgba(0 0 0 /25%);
    transition: height 0.3s;   
}
/* header nav ends */

/* search bar section starts  */
.search{
    width: 296px;
    height: 50px;
    float: right;
    line-height: 50px;
    background-color: red;
    line-height: 50px;
    margin-top: 25px;
    border: 1px solid rgb(224, 224, 224);
    padding: 0;
    font-size: 16px;
}
.search .search-input{
    height: 50px;
    width: 204px;
    padding: 0 20px;
    border: none;
    float: left;
    font-size: 16px ;
}
.search .search-input:focus{
    outline: 1px solid #ff6700;
}
.search .search-input:focus::placeholder{
    opacity: 0;
    /* "removes" the placeholder when focus */
}
.search .search-input:focus + .search-btn{
    outline: 1px solid #ff6700;
    border-left: 0px solid rgb(224, 224, 224);
}
.search .search-btn{
    height: 50px;
    width: 52px;
    padding: 0;
    border: none;
    float: left;
    background-color: #fff;
    color: #616161;
    font-size: 18px;
    border-left: 1px solid rgb(224, 224, 224);
    transition: color,background-color .3s;
}
.search .search-btn:hover{
    background-color: rgb(255, 103, 0);
    color: #fff;
}
/* search bar section ends  */